PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
PUBLIC_TURNSTILE_SITE_KEY=0x0000000000000000000000000000000000
RESEND_API_KEY=re_xxxxxxxxxxxx
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
FORM_RECIPIENT_EMAIL=delivered@resend.dev
FORM_SENDER_EMAIL=onboarding@resend.dev
