---
interface Props {
  fill?: string;
  direction?: 'up' | 'down';
  className?: string;
}

const {
  fill = '#20173a',
  direction = 'down',
  className = 'wave-divider',
} = Astro.props;

const upPath =
  'M0,128L60,112C120,96,240,64,360,74.7C480,85,600,139,720,170.7C840,203,960,213,1080,208C1200,203,1320,181,1380,170.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z';
const downPath =
  'M0,128L60,112C120,96,240,64,360,74.7C480,85,600,139,720,170.7C840,203,960,213,1080,208C1200,203,1320,181,1380,170.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z';

const pathData = direction === 'up' ? upPath : downPath;
---

<div class={className}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill={fill} fill-opacity="1" d={pathData}></path>
  </svg>
</div>
